.login {
    border-radius: 5px;
    padding: 100px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #212529;
    outline: none;
    text-decoration: none
}

a:hover{
    outline-style: none;
    text-decoration: none;
}
