.btn.btn-primary.btn-block.btn-signup {
    background-color: #56c6c6;
}

.form-control, .form-check {
    margin-bottom: 10px;
}

.form-check-label.terms-label {
    font-size: 12px;
}

.btn.btn-primary.service-continue {
    margin-right: 5px;
    border-radius: 7px!important;
    background-color: white;
    color: black;
    font-size: 18px;
    border: 1px solid #dfdfdf;
}

.text-center.continue-service-label {
    color: #999;
}

